<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout
      http://www.thymeleaf.org/xsd/thymeleaf-extras-dialect-2.1.xsd">
<head>
  <meta charset="UTF-8">
  <title>Comanda Digital</title>
</head>
<body>
  <nav layout:fragment="sidebar">
    <div class="list-group-item list-group-item-light small text-center py-1" id="mesa">Selecione a mesa</div>
    <div class="list-group-item list-group-item-primary">
      <div class="btn-group btn-block flex-md-wrap flex-xl-nowrap">
        <div class="btn-group w-100">
          <button class="btn btn-outline-primary dropdown-toggle btn-block" data-toggle="dropdown" type="button">Mesa
          </button>
          <div class="dropdown-menu" id="div-mesas">
            <section th:fragment="mesas">
              <button class="dropdown-item text-primary" onclick="buscaComandas(this.dataset.mesa)"
                      th:attr="data-mesa=${m}"
                      th:each="m:${mesas}" th:text="${'Mesa '+m}" type="button">Mesa
              </button>
              <div class="dropdown-divider" th:if="!${mesas.isEmpty()}"></div>
              <a class="dropdown-item text-success" data-target="#mdl-editar" data-toggle="modal" href="#"><i
                  class="fas fa-plus"></i>&nbsp;Adicionar</a>
              <button class="dropdown-item text-secondary" onclick="atualizaMesas()" type="button"><i
                  class="fas fa-sync-alt"></i>&nbsp;Atualizar
              </button>
            </section>
          </div>
        </div>
        <div class="btn-group w-100">
          <button class="btn btn-outline-primary dropdown-toggle btn-block" data-toggle="dropdown" id="btn-comandas"
                  th:classappend="${comandas.isEmpty()}?'disabled':null" type="button">Comanda
          </button>
          <div class="dropdown-menu" id="div-comandas">
            <section th:attr="data-comanda=${comandas.size()==1?comandas.entrySet().iterator().next().getKey():null}"
                     th:fragment="comandas"
                     th:if="${!comandas.isEmpty()}">
              <button class="dropdown-item text-primary" onclick="buscaComanda(this.dataset.codigo)"
                      th:attr="data-codigo=${c.getKey()}"
                      th:each="c:${comandas.entrySet()}"
                      th:text="${c.getValue()==null?'Comanda '+c.getKey():c.getValue()}"
                      type="button">Comanda
              </button>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-success" data-mesa="true" data-target="#mdl-editar" data-toggle="modal"
                 href="#"><i
                  class="fas fa-plus"></i>&nbsp;Adicionar</a>
              <button class="dropdown-item text-secondary" onclick="atualizaComandas()" type="button"><i
                  class="fas fa-sync-alt"></i>&nbsp;Atualizar
              </button>
            </section>
          </div>
        </div>
      </div>
    </div>
    <a class="list-group-item list-group-item-action text-center text-nowrap"
       th:href="@{/comandas/todas}"><i class="far fa-list-alt"></i>&nbsp;Ver todas</a>
  </nav>

  <h1 layout:fragment="title">Comandas</h1>

  <section id="div-alerts" layout:fragment="alerts" th:if="${comanda.codigo==null}">
    <div class="pb-1 alert alert-primary alert-dismissible">
      <h4 class="alert-heading">Informe a comanda</h4>
      <p>Utilize o menu para escolher ou adicionar mesa e comanda</p>
    </div>
  </section>

  <section layout:fragment="info">
    <div id="div-info" th:classappend="${comanda.codigo==null}?'d-none':null" th:fragment="info">
      <div class="mt-3 card border border-dark">
        <div class="card-header font-weight-bold d-flex justify-content-between align-items-center">
          <div class="align-middle">Comanda&nbsp;<span th:text="${comanda.codigo}"></span></div>
          <button class="btn btn-sm btn-outline-dark" onclick="buscaComanda(this.dataset.codigo)"
                  th:attr="data-codigo=${comanda.codigo}" title="Atualizar"><span class="fas fa-sync"></span></button>
        </div>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Nome&nbsp;<span class="text-black-50" th:text="${comanda.nome}"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Mesa&nbsp;<span class="text-black-50" th:text="${comanda.mesa}"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Data&nbsp;<span class="text-black-50"
                            th:text="${#calendars.format(comanda.data,'dd/MM/yyyy HH:mm')}"></span>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-secondary text-center pointer"
              data-target="#mdl-editar" data-toggle="modal"
              th:attr="data-nome=${comanda.nome},data-mesa=${comanda.mesa},data-codigo=${comanda.codigo}"><i
              class="fas fa-pencil-alt"></i>&nbsp;Editar
          </li>
          <li class="list-group-item list-group-item-action list-group-item-danger text-center pointer"
              data-target="#mdl-finalizar" data-toggle="modal" th:attr="data-codigo=${comanda.codigo}"><i
              class="fas fa-check"></i>&nbsp;Finalizar
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section id="content" layout:fragment="content" th:classappend="${comanda.codigo==null}?'d-none':null">
    <div id="div-comanda" th:fragment="comanda">
      <!-- adicionar pedido -->
      <div class="bg-light rounded-top border border-success d-flex justify-content-between text-dark px-2 py-1">
        <div>Comanda&nbsp;<span id="comanda" th:text="${comanda.codigo}"></span></div>&nbsp;
        <div th:text="${comanda.getNome()}"></div>&nbsp;
        <div>Senha&nbsp;<span th:text="${comanda.senhaComanda()}"></span></div>
      </div>
      <form class="w-100 p-2 alert-success rounded-bottom mb-2" id="form-produto" onsubmit="return false">
        <input id="cod-prod" name="codigo" type="hidden">
        <div class="row">
          <div class="input-group col-md-7 col-lg-6 pb-lg-0 pb-1 flex-nowrap">
            <div class="input-group-prepend">
              <label class="input-group-text bg-light border-success" for="produto">Produto</label>
            </div>
            <input class="form-control border-success" id="produto" onblur="blurProduto()" placeholder="Buscar..."
                   required
                   type="text">
          </div>
          <div class="input-group col-md-5 col-lg-4 pb-lg-0 pb-1 flex-nowrap">
            <div class="input-group-prepend">
              <label class="input-group-text bg-light border-success" for="quant">Quantidade</label>
            </div>
            <input class="form-control border-success" id="quant" name="quantidade" required type="number" value="1">
          </div>
          <div class="col-lg-2 pb-lg-0 pb-1 flex-nowrap">
            <button class="btn btn-block btn-light border-success" disabled id="btn-addProd"
                    onclick="adicionaPedido()" type="submit"
            ><i class="fas fa-plus" id="fa-addProd"></i><span class="d-lg-none d-xl-inline-block">&nbsp;Adicionar</span>
            </button>
          </div>
        </div>
      </form>
      <!-- pedidos -->
      <div class="table-responsive">
        <table class="table table-hover compact" id="tbl-pedidos">
          <thead>
          <tr>
            <th class="col-cod">#</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th class="text-right">Situação</th>
          </tr>
          </thead>
          <tbody>
          <tr th:attr="data-pedido=${p.codigo}" th:each="p:${comanda.getPedidos()}">
            <td th:text="${p.codigo}"></td>
            <td>
              <p th:text="${p.produto.nome}"></p>
            </td>
            <td th:text="${p.quantidade}"></td>
            <td class="text-right">
              <div class="btn-group dropleft">
                <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown" id="btn-status"
                        th:classappend="${p.status.name()=='C'}?'btn-outline-danger':(${p.status.name()=='E'}?'btn-outline-success':'btn-outline-dark')"
                        th:text="${p.status.desc}"
                        type="button">
                </button>
                <div class="dropdown-menu py-1">
                  <button class="px-2 btn-sm dropdown-item" onclick="atualizaPedido(this)" th:attr="data-status=${s}"
                          th:classappend="${s.name()=='C'}?'text-danger':(${s.name()=='E'}?'text-success':null)"
                          th:each="s:${statusPedido}" th:text="${s.desc}"
                          type="button"></button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section layout:fragment="modals">
    <div class="modal fade" id="mdl-editar" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Nova comanda</h5>
            <button class="close" data-dismiss="modal" type="button">
              <span class="fas fa-times"></span>
            </button>
          </div>
          <div class="modal-body">
            <form id="form-editar" onsubmit="return salvaComanda()">
              <input id="editar-codigo" name="codigo" type="hidden" value="null">
              <!-- nome -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="editar-nome">Nome</label>
                </div>
                <input class="form-control" id="editar-nome" name="nome" title="Nome do cliente" type="text">
              </div>
              <div class="d-flex justify-content-end">
                <label class="small text-muted" for="editar-nome">Opcional</label>
              </div>
              <!-- mesa -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="editar-mesa">Mesa</label>
                </div>
                <input class="form-control" id="editar-mesa" name="mesa" required title="Número da mesa"
                       type="number">
              </div>
              <!-- atendente -->
              <div class="input-group pt-2">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="editar-atendente">Atendente</label>
                </div>
                <input class="form-control" id="editar-atendente" readonly th:value="${#authentication.name}"
                       type="text">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-light" data-dismiss="modal" type="button">Cancelar</button>
            <button class="btn btn-success" form="form-editar" type="submit">Salvar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="mdl-finalizar" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Finalizar comanda</h5>
            <button class="close" data-dismiss="modal" type="button">
              <span class="fas fa-times"></span>
            </button>
          </div>
          <div class="modal-body">
            <p>Para reabrir a comanda, utilize a opção <a class="active" th:href="@{/comandas/todas}">Ver todas</a>.</p>
            <form id="form-finalizar" onsubmit="return finalizaComanda()">
              <input id="finalizar-codigo" name="codigo" type="hidden" value="null">
              <!-- status -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="finalizar-status">Situação</label>
                </div>
                <select class="custom-select" id="finalizar-status" name="status" required title="Situação da comanda">
                  <option th:disabled="${s.name()=='A'}" th:each="s:${statusComanda}" th:selected="${s.name()=='A'}"
                          th:text="${s.desc}" th:value="${s}"></option>
                </select>
              </div>
              <div class="d-flex justify-content-end">
                <label class="small text-muted" for="finalizar-status">Só é possível alterar comandas abertas</label>
              </div>
            </form>
            <p class="small">Importante: Cancelar a comanda <b>não</b> devolve os produtos ao estoque. Se necessário,
              cancele os pedidos antes de continuar.</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-light" data-dismiss="modal" type="button">Cancelar</button>
            <button class="btn btn-danger" form="form-finalizar" type="submit">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="/static/js/utilities.js"></script>
<script src="/static/js/comandas.js"></script>
<section layout:fragment="scripts">
  <script th:src="@{/js/comandas.min.js}"></script>
</section>
</html>