<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout
      http://www.thymeleaf.org/xsd/thymeleaf-extras-dialect-2.1.xsd">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <nav layout:fragment="sidebar">
    <div class="list-group-item list-group-item-primary">
      <div class="btn-group btn-block flex-md-wrap flex-lg-nowrap">
        <div class="btn-group w-100">
          <button type="button" class="btn btn-outline-primary dropdown-toggle btn-block" data-toggle="dropdown">Mesa
          </button>
          <div id="div-mesas" class="dropdown-menu" th:fragment="mesas">
            <a class="dropdown-item text-primary" th:each="m:${mesas}" th:text="${'Mesa '+m}">Mesa</a>
            <div class="dropdown-divider" th:if="!${mesas.isEmpty()}"></div>
            <a class="dropdown-item text-success" href="#"><i class="fas fa-plus"></i>&nbsp;Adicionar</a>
            <a class="dropdown-item text-secondary" href="#"><i class="fas fa-sync-alt"></i>&nbsp;Atualizar</a>
          </div>
        </div>
        <div class="btn-group w-100">
          <button type="button" class="btn btn-outline-primary dropdown-toggle btn-block"
                  th:classappend="${comandas==null}?'disabled':null" data-toggle="dropdown">Comanda
          </button>
          <div id="div-comandas" class="dropdown-menu" th:if="${comandas!=null}" th:fragment="comandas">
            <a class="dropdown-item text-primary" th:each="c:${comandas.entrySet()}"
               th:text="${c.getValue()==null?'Comanda '+c.getKey():c.getValue()}">Comanda</a>
            <div class="dropdown-divider" th:if="!${comandas.isEmpty()}"></div>
            <a class="dropdown-item text-success" href="#"><i class="fas fa-plus"></i>&nbsp;Adicionar</a>
            <a class="dropdown-item text-secondary" href="#"><i class="fas fa-sync-alt"></i>&nbsp;Atualizar</a>
          </div>
        </div>
      </div>
    </div>
    <a class="list-group-item list-group-item-action list-group-item-success text-center d-none"
       th:href="@{/funcionarios/}"><i class="fas fa-save"></i>&nbsp;Salvar</a>
    <a class="list-group-item list-group-item-action list-group-item-danger text-center d-none"
       th:href="@{/funcionarios/}"><i class="fas fa-check"></i>&nbsp;Finalizar</a>
    <a class="list-group-item list-group-item-action text-center text-nowrap"
       th:href="@{/funcionarios/}"><i class="far fa-list-alt"></i>&nbsp;Ver todas</a>
  </nav>

  <h1 layout:fragment="title">Comandas</h1>

  <div th:if="${comanda.getCodigo()!=null}" layout:fragment="info">
    <div class="mt-3 card border border-dark">
      <div class="card-header font-weight-bold">Comanda&nbsp;<span th:text="${comanda.getCodigo()}"></span></div>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Mesa&nbsp;<span class="text-black-50" th:text="${comanda.getMesa()}"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Nome&nbsp;<span class="text-black-50" th:text="${comanda.getNome()}"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Data&nbsp;<span class="text-black-50" th:text="${comanda.getData()}"></span>
        </li>
        <li style="list-style: none">
          <a class="list-group-item list-group-item-action list-group-item-secondary text-center"
             th:href="@{/funcionarios/}"><i class="fas fa-pencil-alt"></i>&nbsp;Editar</a>
        </li>
      </ul>
    </div>
  </div>

  <section id="div-alerts" layout:fragment="alerts" th:if="${comanda.getCodigo()==null}">
    <div class="pb-1 alert alert-primary alert-dismissible fade show">
      <h4 class="alert-heading">Informe a comanda</h4>
      <p>Utilize o menu para escolher ou adicionar mesa e comanda</p>
      <button type="button" class="close" data-dismiss="alert">
        <span><i class="fas fa-times"></i></span>
      </button>
    </div>
  </section>

  <section layout:fragment="content" th:if="${comanda.getCodigo()!=null}">
    <!-- adicionar pedido -->
    <div
        class="bg-light rounded-top border border-success d-flex justify-content-between text-dark px-2 py-1">
      <div>Comanda&nbsp;<span id="comanda" th:text="${comanda.getCodigo()}"></span></div>&nbsp;
      <div class="text-md-right">Senha&nbsp;<span th:text="${comanda.senhaComanda()}"></span></div>
    </div>
    <form onsubmit="return false" class="w-100 p-2 alert-success rounded-bottom mb-2">
      <input type="hidden" id="codigo" name="codigo">
      <div class="row">
        <div class="input-group col-md-7 col-lg-6 pb-lg-0 pb-1 flex-nowrap">
          <div class="input-group-prepend">
            <label class="input-group-text bg-light border-success" for="produto">Produto</label>
          </div>
          <input type="text" id="produto" class="form-control border-success" placeholder="Buscar..." required>
        </div>
        <div class="input-group col-md-5 col-lg-4 pb-lg-0 pb-1 flex-nowrap">
          <div class="input-group-prepend">
            <label class="input-group-text bg-light border-success" for="quant">Quantidade</label>
          </div>
          <input id="quant" name="quantidade" class="form-control border-success" type="number" value="1" required>
        </div>
        <div class="col-lg-2 pb-lg-0 pb-1 flex-nowrap">
          <button type="submit" id="btn-addProd" class="btn btn-block btn-light border-success" disabled
          ><i id="fa-addProd" class="fas fa-plus"></i><span class="d-lg-none d-xl-inline-block">&nbsp;Adicionar</span>
          </button>
        </div>
      </div>
    </form>
    <!-- pedidos -->
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Situação</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p:${comanda.getPedidos()}">
          <td th:text="${p.codigo}"></td>
          <td>
            <p th:text="${f.nome}"></p>
          </td>
          <td th:text="${f.quantidade}"></td>
          <td th:text="${f.status}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>
</html>