<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout
      http://www.thymeleaf.org/xsd/thymeleaf-extras-dialect-2.1.xsd">
<head>
  <meta charset="UTF-8">
  <title>Comanda Digital</title>
</head>
<body>
  <nav layout:fragment="sidebar">
    <a class="list-group-item list-group-item-action list-group-item-dark text-center" href="javascript:void(0)"
       onclick="$('#tbl-comandas').DataTable().ajax.reload()"><i class="fas fa-sync-alt"></i>&nbsp;Atualizar</a>
    <a class="list-group-item list-group-item-action text-center text-nowrap"
       th:href="@{/}"><i class="fas fa-arrow-left"></i>&nbsp;Voltar</a>
  </nav>

  <h1 layout:fragment="title">Todas as Comandas</h1>

  <section id="div-alerts" layout:fragment="alerts">

  </section>

  <section layout:fragment="info">

  </section>

  <section id="content" layout:fragment="content">
    <div class="table-responsive">
      <table id="tbl-comandas" class="table table-hover compact" style="table-layout:fixed;width: 99% !important;">
        <thead>
        <tr>
          <th class="col-cod">#</th>
          <th>Mesa</th>
          <th>Nome</th>
          <th>Data</th>
          <th>Atendente</th>
          <th>Situação</th>
        </tr>
        </thead>
      </table>
    </div>
    <form id="formEdit" th:action="@{/visualizar}" method="post">
      <input name="codigo" type="hidden" id="codObj">
    </form>
  </section>
  <section layout:fragment="modals">
    <div id="mdl-status" class="modal fade" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Alterar situação</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span class="fas fa-times"></span>
            </button>
          </div>
          <div class="modal-body">
            <form id="form-status" onsubmit="return comandas.alterarStatus()">
              <input id="status-codigo" type="hidden" name="codigo" value="null">
              <!-- status -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="status-select">Situação</label>
                </div>
                <select id="status-select" class="custom-select" title="Situação da comanda" name="status">
                  <option th:each="s:${statusComanda}" th:value="${s}"
                          th:selected="${null}" th:text="${s.desc}"></option>
                </select>
              </div>
              <div class="d-flex justify-content-end">
                <label for="status-select" class="small text-muted">Só é possível alterar comandas abertas</label>
              </div>
            </form>
            <p class="small">Importante: Cancelar a comanda <b>não</b> devolve os produtos ao estoque. Se necessário,
              cancele os pedidos antes de continuar.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
            <button type="submit" form="form-status" class="btn btn-danger">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="/static/js/utilities.js"></script>
<script src="/static/js/intl.js"></script>
<section layout:fragment="scripts">
  <script th:src="@{/js/intl.min.js}"></script>
  <script type="text/javascript">
    const comandas = todasComandas();
  </script>
</section>
</html>