<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <nav layout:fragment="sidebar">
    <a class="list-group-item list-group-item-action list-group-item-dark text-center" th:href="@{/funcionarios}"><i
        class="fas fa-arrow-left"></i>&nbsp;Gerenciar</a>
    <button type="submit" form="form" class="list-group-item list-group-item-action text-center"><i
        class="fas fa-save"></i>&nbsp;Salvar
    </button>
    <a class="list-group-item list-group-item-action text-center" th:href="@{/funcionarios/editar}"
    ><i class="fas fa-plus"></i>&nbsp;Cadastrar</a>
  </nav>

  <h1 layout:fragment="title">Administrador</h1>

  <section layout:fragment="alerts">
    <div class="pb-1 alert alert-primary alert-dismissible fade show">
      <h4 class="alert-heading"><i>admin</i></h4>
      <p>Utilize esta página para alterar a senha ou desativar o acesso à conta</p>
      <button type="button" class="close" data-dismiss="alert">
        <span><i class="fas fa-times"></i></span>
      </button>
    </div>
  </section>

  <section layout:fragment="content" style="max-height: 215px">
    <form id="form" th:action="@{/funcionarios/salvarAdmin}" method="post" th:object="${admin}">
      <input type="hidden" th:field="*{codigo}">
      <div class="row">
        <div class="input-group col-md-6">
          <div class="input-group-prepend">
            <label class="input-group-text" for="nome">Nome</label>
          </div>
          <input id="nome" class="form-control" type="text" th:field="*{nome}" readonly>
        </div>
        <div class="input-group col-md-6">
          <div class="input-group-prepend">
            <label class="input-group-text" for="login">Login</label>
          </div>
          <input id="login" class="form-control" type="text" th:field="*{login}" readonly>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="senha_nova">Nova senha</label>
            </div>
            <input id="senha_nova" class="form-control" type="password" th:field="*{senhaNova}">
          </div>
          <div class="invalid-feedback">
            <span th:errors="*{senhaNova}"></span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="senha_conf">Confirme</label>
            </div>
            <input id="senha_conf" class="form-control" type="password" th:field="*{senhaConfirma}">
          </div>
          <div class="invalid-feedback">
            <span th:errors="*{senhaConfirma}"></span>
          </div>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="grupo">Grupo</label>
            </div>
            <select id="grupo" class="custom-select" disabled>
              <option selected>Administrador</option>
            </select>
          </div>
          <label for="grupo" class="small text-muted">O grupo definirá as <a
              th:href="@{funcionarios/grupos}" class="active">permissões</a> do usuário</label>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input id="ativo" type="checkbox" th:field="*{ativo}">
              </div>
            </div>
            <div class="input-group-append">
              <label class="input-group-text" for="ativo">Usuário ativo</label>
            </div>
          </div>
          <label for="ativo" class="small text-muted">Desativar o funcionário para impedir que faça
            login</label>
        </div>
      </div>
    </form>
  </section>
</body>
</html>