<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout
      http://www.thymeleaf.org/xsd/thymeleaf-extras-dialect-2.1.xsd">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <nav layout:fragment="sidebar">
    <button type="submit" form="form"
            class="list-group-item list-group-item-action list-group-item-success text-center"><i
        class="fas fa-save"></i>&nbsp;Salvar
    </button>
    <a class="list-group-item list-group-item-action text-center" th:href="@{/funcionarios/}"><i
        class="fas fa-arrow-left"></i>&nbsp;Cancelar</a>
  </nav>

  <h1 layout:fragment="title"><span th:text="${funcionario.codigo}==null?'Novo':'Editar'"></span> funcionário</h1>

  <section layout:fragment="content">
    <form id="form" th:action="@{/funcionarios/salvar}" method="POST" th:object="${funcionario}">
      <input type="hidden" th:field="*{codigo}">
      <div class="row">
        <div class="input-group col-md-6 pt-2">
          <div class="input-group-prepend">
            <label class="input-group-text" for="nome">Nome</label>
          </div>
          <input id="nome" class="form-control" type="text" th:field="*{nome}">
        </div>
        <div class="input-group col-md-6 pt-2">
          <div class="input-group-prepend">
            <label class="input-group-text" for="login">Login</label>
          </div>
          <input id="login" class="form-control" type="text" th:field="*{login}">
        </div>
      </div>

      <div class="row">
        <div class="input-group col-md-6 pt-2">
          <div class="input-group-prepend">
            <label class="input-group-text" for="senha">Senha</label>
          </div>
          <input id="senha" class="form-control" type="password" th:field="*{senhaNova}">
        </div>
        <div class="input-group col-md-6 pt-2">
          <div class="input-group-prepend">
            <label class="input-group-text" for="senha_conf">Confirme</label>
          </div>
          <input id="senha_conf" class="form-control" type="password" th:field="*{senhaConfirma}">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 pt-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="grupo">Grupo</label>
            </div>
            <select id="grupo" class="custom-select" th:field="*{grupo}">
              <option th:value="${null}" hidden selected readonly>Selecione</option>
              <option th:each="g :${grupos}" th:value="${g.codigo}" th:text="${g.nome}"></option>
            </select>
          </div>
          <label for="grupo" class="small text-muted">O grupo definirá as <a href="#" class="active"
          >permissões</a> do usuário</label>
        </div>
        <div class="col-md-6 pt-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input id="ativo" type="checkbox" th:field="*{ativo}">
              </div>
            </div>
            <div class="input-group-append">
              <label class="input-group-text" for="ativo">Usuário ativo</label>
            </div>
          </div>
          <label for="ativo" class="small text-muted">Desativar o funcionário para impedir que faça
            login</label>
        </div>
      </div>
    </form>
  </section>
</body>
</html>