<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout
      http://www.thymeleaf.org/xsd/thymeleaf-extras-dialect-2.1.xsd">
<head>
  <meta charset="UTF-8">
  <title>Comanda Digital</title>
</head>
<body>
  <nav layout:fragment="sidebar">
    <button class="list-group-item list-group-item-action list-group-item-success text-center" form="form"
            type="submit"><i
        class="fas fa-save"></i>&nbsp;Salvar
    </button>
    <a class="list-group-item list-group-item-action text-center" th:href="@{/funcionarios/}"><i
        class="fas fa-arrow-left"></i>&nbsp;Cancelar</a>
  </nav>

  <h1 layout:fragment="title"><span th:text="${funcionario.codigo}==null?'Novo':'Editar'"></span> funcionário</h1>

  <section layout:fragment="content">
    <form id="form" method="POST" th:action="@{/funcionarios/salvar}" th:object="${funcionario}">
      <input th:field="*{codigo}" type="hidden">
      <div class="row">
        <div class="col-md-6 pt-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="nome">Nome</label>
            </div>
            <input class="form-control" id="nome" th:classappend="${#fields.hasErrors('nome')}?'is-invalid'"
                   th:field="*{nome}" type="text">
            <div class="invalid-feedback">
              <span th:errors="*{nome}"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 pt-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="login">Login</label>
            </div>
            <input class="form-control" id="login" th:classappend="${#fields.hasErrors('login')}?'is-invalid'"
                   th:field="*{login}" type="text">
            <div class="invalid-feedback">
              <span th:errors="*{login}"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 pt-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="senha">Senha</label>
            </div>
            <input class="form-control" id="senha" th:classappend="${#fields.hasErrors('senhaNova')}?'is-invalid'"
                   th:field="*{senhaNova}" type="password">
            <div class="invalid-feedback">
              <span th:errors="*{senhaNova}"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 pt-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="senha_conf">Confirme</label>
            </div>
            <input class="form-control" id="senha_conf"
                   th:classappend="${#fields.hasErrors('senhaConfirma')}?'is-invalid'"
                   th:field="*{senhaConfirma}" type="password">
            <div class="invalid-feedback">
              <span th:errors="*{senhaConfirma}"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 pt-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="grupo">Grupo</label>
            </div>
            <select class="custom-select" id="grupo" th:classappend="${#fields.hasErrors('grupo')}?'is-invalid'"
                    th:field="*{grupo}">
              <option hidden readonly selected th:value="${null}">Selecione</option>
              <option th:each="g :${grupos}" th:text="${g.nome}" th:value="${g.codigo}"></option>
            </select>
            <div class="invalid-feedback">
              <span th:errors="*{grupo}"></span>
            </div>
          </div>
          <label class="small text-muted" for="grupo">O grupo definirá as <a
              class="active" th:href="@{/funcionarios/grupos}">permissões</a> do usuário</label>
        </div>
        <div class="col-md-6 pt-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input id="ativo" th:field="*{ativo}" type="checkbox">
              </div>
            </div>
            <div class="input-group-append">
              <label class="input-group-text" for="ativo">Usuário ativo</label>
            </div>
          </div>
          <label class="small text-muted" for="ativo">Desativar o funcionário para impedir que faça
            login</label>
        </div>
      </div>
    </form>
  </section>
</body>
</html>