<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <section layout:fragment="content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 border border-dark p-2 rounded">
          <h4 class="titulo-pagina">Funcionários</h4>
          <div>
            <a class="btn btn-block btn-dark" href="/funcionarios/"><i class="fas fa-sync-alt"
            ></i><span class="text-center">&nbsp;Atualizar</span></a>
            <a class="btn btn-block btn-secondary text-center" href="/funcionarios/editar"><i class="fas fa-plus"
            ></i>&nbsp;Cadastrar funcionário</a>
            <a sec:authorize="hasAuthority('editar_admin')" class="btn btn-block btn-secondary text-center"
               href="/funcionarios/admin"><i class="fas fa-user-tie"
            ></i>&nbsp;Administrador</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>