<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout
      http://www.thymeleaf.org/xsd/thymeleaf-extras-dialect-2.1.xsd">
<head>
  <meta charset="UTF-8">
  <title>Comanda Digital</title>
</head>
<body>
  <nav layout:fragment="sidebar">
    <a class="list-group-item list-group-item-action list-group-item-dark text-center" th:href="@{/produtos/}"><i
        class="fas fa-sync-alt"></i>&nbsp;Atualizar</a>
    <a class="list-group-item list-group-item-action text-center" th:href="@{/produtos/editar}"><i
        class="fas fa-plus"
    ></i>&nbsp;Adicionar</a>
  </nav>

  <h1 layout:fragment="title">Produtos</h1>

  <section layout:fragment="content">
    <div class="table-responsive">
      <table class="table table-hover compact" id="tbl-produtos">
        <thead>
        <tr>
          <th class="col-cod">#</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Estoque</th>
          <!--/*<th>Imagem</th>*/-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="f:${produtos}">
          <td th:text="${f.codigo}"></td>
          <td>
            <a class="active"
               th:attr="href=${#authorization.expression('hasAuthority(''editar_produtos'')')?'javascript:void(0)':null}"
               th:onclick="'editar('+${f.codigo}+')'" th:text="${f.nome}"></a>
          </td>
          <td th:text="${f.preco==null?null:#numbers.formatDecimal(f.preco,1,2)}"></td>
          <td th:text="${f.estoque==null?null:f.estoque+' '+f.unidade}"></td>
          <!--/*<td>
            <button class="btn-link" th:disabled="!${f.imagem}" type="button"><i class="far fa-image"></i></button>
          </td>*/-->
        </tr>
        </tbody>
      </table>
    </div>

    <div sec:authorize="hasAuthority('editar_produtos')">
      <form id="formEdit" method="post" th:action="@{/produtos/editar}">
        <input id="codObj" name="codigo" type="hidden">
      </form>
    </div>
  </section>

  <section layout:fragment="scripts">
    <script>
      genericDataTables('#tbl-produtos');
    </script>
  </section>
</body>
</html>