.titulo-pagina {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding-top: 4px;
}

.padding-form {
    padding-bottom: 12px;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    padding-top: 52px;
    padding-bottom: 5em;
    background-color: #d1ecf1;
}

.content {
    background-color: #fefefe;
}

.navbar-customizada {
    padding: 0 10px;
    min-height: 50px;
}

.sidebar ul li a {
    display: block;
    margin: 2px 4px;
    white-space: nowrap;
}

.div-form {
    min-width: 250px;
    max-width: 330px;
}

.div-login {
    margin-top: 15vh;
}

.span-form, .span-form:disabled {
    background-color: rgb(233, 236, 239);
    border-color: rgb(206, 212, 218);
    opacity: 1;
    width: 46px;
}

.rodape {
    background-color: #eeeef5;
    padding-top: 4px;
    margin-top: 10px;
}

.span-tam_fixo {
    min-width: 2ch;
    display: inline-block;
}

.span-data {
    min-width: 5ch;
    display: inline-block;
}

.modal-450 {
    height: 450px;
    max-height: 90%;
}

.modal-tabela {
    top: 4px;
    left: 0;
    width: 100%;
    height: 95%;
    position: absolute;
    overflow: auto;
}

.tabela-export {
    min-height: 15em;
}

/*oculta o spinner*/
input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.espaco-8 {
    min-width: 8ch;
}

.scroll {
    max-height: 425px;
    overflow-y: auto;
}

button.dropdown-item, .list-group-item-action {
    cursor: pointer;
}

.col-cod {
    max-width: 4ch
}