<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="pt-br">
<footer th:fragment="footer">
  <!-- rodapé  -->
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Popper.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
          integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
          crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous"></script>
  <!-- JQuery Mask Plugin -->
  <script th:src="@{js/jquery.mask.min.js}"></script>
  <!-- JQuery UI -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <!-- Sweet Alert 2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.28/dist/sweetalert2.all.min.js"></script>
  <!-- Promise Polyfill -->
  <script src="https://unpkg.com/promise-polyfill@8.0.0/dist/polyfill.min.js"></script>
  <!-- funções de uso geral -->
  <script src="js/utilities.min.js?_="></script>
</footer>
</html>