<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<footer class="container-fluid fixed-bottom rodape" th:fragment="footer">
  <div class="container d-flex flex-row flex-wrap justify-content-around">
    <h5><i class="fab fa-github"></i>&nbsp;<a href="https://github.com/augustocb23/comanda-digital"
                                              class="active">Repositório</a></h5>
    <h5><i class="fas fa-file-alt"></i>&nbsp;<a
        href="https://docs.google.com/document/d/1N29tnpA0BOTXBQ6RXQDhlWgOqm1buFdwWkRjxUVgqNg/edit?usp=sharing"
        class="active">Documento visão</a></h5>
    <h5><i class="fab fa-trello"></i>&nbsp;<a href="https://trello.com/b/abeQ1h3C" class="active">Backlog</a></h5>
  </div>
</footer>
</html>