<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- meta tags obrigatorias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title th:fragment="title">Comanda Virtual</title>
  <!-- CSS do Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- CSS pessoal -->
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <!-- Fonte do Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <!-- CSS JQuery UI -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <!-- Fonte Awesome (ícones) -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
  <header>
    <nav class="nav navbar navbar-inverse navbar-dark bg-dark fixed-top navbar-customizada">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" th:href="@{/}"><span class="btn btn-outline-light border-0 navbar-toggle py-0 mb-1"><i
              class="fas fa-utensils"></i></span>&nbsp;Comanda Virtual</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="ml-auto">
          <a class="btn btn-outline-danger border-0" th:href="@{/logout}"><i
              class="fas fa-sign-out-alt span-tam_fixo"></i>&nbsp;Sair
          </a>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="row">
      <!-- sidebar -->
      <div class="col-md-3">
        <nav class="list-group sidebar sidebar-open" layout:fragment="sidebar"></nav>
      </div>
      <!-- conteúdo -->
      <section class="col-md-9 my-1 pt-2 content rounded" layout:fragment="content"></section>
    </div>
  </div>

  <!-- rodapé  -->
  <section layout:fragment="footer">
    <footer th:replace="fragments :: footer"></footer>
  </section>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Popper.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
          integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
          crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous"></script>
  <!-- JQuery Mask Plugin -->
  <script th:src="@{js/jquery.mask.min.js}"></script>
  <!-- JQuery UI -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <!-- Sweet Alert 2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.28/dist/sweetalert2.all.min.js"></script>
  <!-- Promise Polyfill -->
  <script src="https://unpkg.com/promise-polyfill@8.0.0/dist/polyfill.min.js"></script>
  <!-- funções de uso geral -->
  <script th:src="@{js/utilities.min.js}"></script>
  <!-- funções específicas -->
  <section layout:fragment="scripts"></section>
</body>
</html>