<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout
      http://www.thymeleaf.org/xsd/thymeleaf-extras-dialect-2.1.xsd">
<head>
  <!-- meta tags obrigatorias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title th:fragment="title">Comanda Digital</title>
  <!-- CSS do Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- CSS pessoal -->
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <!-- Fonte do Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <!-- CSS JQuery UI -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <!-- Fonte Awesome (ícones) -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- CSS Data Tables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
  <!-- CSRF -->
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
  <header>
    <nav class="nav navbar navbar-dark bg-dark navbar-customizada navbar-expand-md fixed-top">
      <div class="container">
        <a class="btn btn-outline-light border-secondary" th:href="@{/}"><i
            class="fas fa-utensils"></i>&nbsp;Comandas</a>
        <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                sec:authorize="isAuthenticated()">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ml-auto">
            <li class="dropdown-divider"></li>
            <li class="nav-item"><a class="btn btn-outline-light border-0" th:href="@{/produtos}"><i
                class="fas fa-box span-tam_fixo"></i>&nbsp;Produtos</a>
            </li>
            <li class="nav-item"><a class="btn btn-outline-light border-0" th:href="@{/funcionarios}"><i
                class="fas fa-users span-tam_fixo"></i>&nbsp;Funcionários</a></li>
            <li class="dropdown-divider"></li>
            <li class="nav-item"><a class="btn btn-outline-danger border-0" th:href="@{/logout}"><i
                class="fas fa-sign-out-alt span-tam_fixo"></i>&nbsp;Sair</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container bg-secondary mb-4 rounded-bottom" sec:authorize="isAuthenticated()">
      <h1 class="titulo-pagina text-center text-light p1 pb-2" layout:fragment="title">TITULO</h1>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- notificações -->
        <div class="row">
          <section class="col-12 pl-4" layout:fragment="alerts"></section>
        </div>
        <!-- conteúdo -->
        <div class="row">
          <section class="col-12 my-1 py-2 content rounded" layout:fragment="content"></section>
        </div>
      </div>
      <div class="col-md-3 pt-2">
        <!-- sidebar -->
        <nav class="list-group" layout:fragment="sidebar"></nav>
        <!-- informações -->
        <div layout:fragment="info"></div>
      </div>
    </div>
    <!-- modais -->
    <section layout:fragment="modals"></section>
  </div>

  <!-- rodapé  -->
  <section>
    <footer class="container-fluid fixed-bottom rodape">
      <div class="container">
        <nav class="navbar d-md-none navbar-light p-0 pb-1">
          <div class="navbar-brand pb-0">
            <h5><i class="fab fa-github span-tam_fixo"></i>&nbsp;<a
                href="https://github.com/augustocb23/comanda-digital"
                class="active">Repositório</a></h5>
          </div>
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#footer">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="footer">
            <ul class="navbar-nav">
              <li class="nav-item">
                <h5><i class="fas fa-file-alt span-tam_fixo"></i>&nbsp;<a
                    href="https://docs.google.com/document/d/1N29tnpA0BOTXBQ6RXQDhlWgOqm1buFdwWkRjxUVgqNg/edit?usp=sharing"
                    class="active">Documento visão</a></h5>
              </li>
              <li class="nav-item">
                <h5><i class="fab fa-trello span-tam_fixo"></i>&nbsp;<a
                    href="https://trello.com/b/abeQ1h3C" class="active">Backlog</a></h5>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="container d-none d-md-flex flex-row flex-wrap justify-content-around">
        <h5><i class="fab fa-github"></i>&nbsp;<a href="https://github.com/augustocb23/comanda-digital"
                                                  class="active">Repositório</a></h5>
        <h5><i class="fas fa-file-alt"></i>&nbsp;<a
            href="https://docs.google.com/document/d/1N29tnpA0BOTXBQ6RXQDhlWgOqm1buFdwWkRjxUVgqNg/edit?usp=sharing"
            class="active">Documento visão</a></h5>
        <h5><i class="fab fa-trello"></i>&nbsp;<a href="https://trello.com/b/abeQ1h3C" class="active">Backlog</a></h5>
      </div>
    </footer>
  </section>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Popper.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
          integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
          crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous"></script>
  <!-- JQuery Mask Plugin -->
  <script th:src="@{/js/jquery.mask.min.js}"></script>
  <!-- JQuery UI -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <!-- Sweet Alert 2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.28/dist/sweetalert2.all.min.js"></script>
  <!-- Promise Polyfill -->
  <script src="https://unpkg.com/promise-polyfill@8.0.0/dist/polyfill.min.js"></script>
  <!-- Data Tables -->
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
  <!-- funções de uso geral -->
  <script th:src="@{/js/utilities.min.js}"></script>
  <!-- funções específicas -->
  <section layout:fragment="scripts"></section>
</body>
</html>