<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout
      http://www.thymeleaf.org/xsd/thymeleaf-extras-dialect-2.1.xsd">
<body>
  <section layout:fragment="sidebar">
    <div class="mx-auto div-form bg-light mt-1 p-2 pb-4 border border-secondary rounded">
      <h5 class="fonte-titulo titulo-pagina">Acesso para funcionários</h5>
      <form method="post" th:action="@{/login}" onsubmit="$(this).find('.btn').attr('disabled',true)">
        <div class="input-group padding-form">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <input class="form-control" type="text" name="username" placeholder="Usuário" autofocus required/>
        </div>
        <div class="input-group padding-form">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-key"></i>
            </span>
          </div>
          <input class="form-control" type="password" name="password" placeholder="Senha" required/>
        </div>
        <button class="btn btn-dark float-right" type="submit">
          <i class="fas fa-sign-in-alt"></i>&nbsp;Entrar
        </button>
      </form>
    </div>
  </section>

  <section layout:fragment="content" style="background-color: transparent">
    <div class="px-lg-5 px-md-3 pt-lg-4 pt-md-2 text-md-right">
      <h3 class="titulo-pagina">Visualizar comandas</h3>
      <p class="text-muted">Para acessar sua comanda, <a class="active" th:href="@{/clientes}">clique aqui</a></p></div>
  </section>

  <section layout:fragment="scripts">
    <script th:if="${error}" type="text/javascript">
        toast({title: 'Usuário ou senha inválidos', type: 'error'});
    </script>
  </section>
</body>
</html>